/* GLOBAL */
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

/* HEADER */
.main-header {
  background-image: url("../img/header-article-bg.jpg");
}

/* ARTICLE */

.article h3 {
  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #2e2f22;
  margin-bottom: 6px;
}
.article span,
.article a,
.article time {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(46, 47, 34, 0.7);
}

.article time {
  margin-left: 18px;
}

.article-content {
  width: 100%;
  max-width: 996px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.article-content p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
}

.article-content figure {
  margin-left: 0;
  margin-top: 40px;
}

.article-content figcaption {
  margin-top: 10px;
}

.article .social-share-list-wripper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.article .social-share-list {
  display: flex; 
  justify-content: flex-end; 
  max-width: 0;
}

.article .social-share-list-icon {
    margin-left: 32px;
}

.article .like-counter span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #2e2f22;
}

#to-all-articles {
    display: inline-block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #2E2F22;
    margin-bottom: 65px;
}

/* COMMENTS */

.comments-container {
    width: 100%;
    max-width: 793px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    background: #ECE1E1;
    border-radius: 10px;
    padding: 44px 101px 49px;
    margin-bottom: 77px;
}

.comments-item-wrapper {
    display: flex;
}

.comments-item-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 13px;
}

/* FORM */

.comments-form {
    margin-left: 80px;
}

.comments-form h2 {
    margin-bottom: 69px;
}

.form-wrapper {
    display: flex;
    margin-bottom: 80px;
}

.comments-form-col input {
    width: 220px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid #2E2F22;
}

.comments-form-col .submit {
    border: 1px solid #202117;
    background: transparent;
    margin-top: 53px;
    margin-bottom: 0;
}

.comments-form-col textarea {
    width: 406px;
    height: 198px;
    margin-left: 80px;
    padding: 20px;
    border: 1px solid #2E2F22;
    border-radius: 10px;
    resize: none;
}