html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

.main-header {
    min-height: 580px;
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 83px;
}

.main-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 5px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 610px;
    margin-top: 33px;
}

.menu-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2E2F22;
}

/*ALL ARTICLE*/

.all-articles-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-articles-headers h2 {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
}

.dropbtn {
    border: none;
    ne;
    padding: 12px 20px;
    background: #D7D1C9;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2E2F22;
    cursor: pointer;

}

.dropbtn img {
    margin-left: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    /*display: block;*/
}

.dropdown-content-item a {
    display: inline-block;
    min-width: 150px;
    color: #2E2F22;
    padding: 12px 20px;
}

.dropdown-content-item a:hover {

    background: #D7D1C9;
    border-radius: 10px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
}

.article-item {
    width: 100%;
    max-width: 387px;
}

#all-articles>div>ul>li:nth-child(2),
#all-articles>div>ul>li:nth-child(3) {
    margin-left: 19px;
}

.article-item img {
    border-radius: 10px;
}

.article-item a {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2E2F22;
}

.article-item-wpapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-item-wpapper a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
}

#all-articles>div>ul>li:nth-child(1) {
    margin-bottom: 60px;
}

#all-articles>div>ul>li:nth-child(4) {
    position: relative;
    width: 100%;
    max-width: 590px;
}

#all-articles>div>ul>li:nth-child(5) {
    position: relative;
    width: 100%;
    max-width: 590px;
    margin-left: 20px;

}

.article-item-content {
    position: absolute;
    left: 80px;
    bottom: 60px;
    color: #fff;
    width: 100%;
    max-width: 430px;
}

.article-item-content a {
    color: #fff;
}

.article-item-wpapper {
    opacity: 0.7;
}

.show-more {
    display: block;
    width: 100%;
    max-width: 232px;
    margin: 100px auto 85px;
    padding: 12px 60px;
    text-align: center;
    border: 1px solid #202117;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #202117;
}

/*ABOUT*/

.about h2 {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
    color: #2E2F22;
    text-align: center;
}

.about-wripper {
    display: flex;
}

.about-image img {
    width: 590px;
    height: 690px;
}

.about-description p {
    margin-left: 40px;
    margin-top: 50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2E2F22;
}

.about-description blockquote {
    margin-top: 70px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #2E2F22;
    padding: 20px;
    border-left: 3px solid #D7D1C9;
}